{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите свой адрес электронной почты" %}{% endblock %}

{% block content %}
<h1>{% trans "Подтвердите свой адрес электронной почты" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}В этой части сайта мы должны подтвердить, что
    вы являетесь тем, за кого себя выдаете. Для этой цели мы требуем, чтобы вы
    подтвердили право собственности на свой адрес электронной почты.{% endblocktrans %}</p>

<p>{% blocktrans %}Мы отправили вам электронное письмо для
    подтверждения. Пожалуйста, перейдите по ссылке внутри этого электронного письма.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Примечание:</strong> ты все еще можешь <a href="{{ email_url }}">измените свой адрес электронной почты</a>.{% endblocktrans %}</p>


{% endblock %}
